*{
    padding:0;
    margin: 0;
}
.header{
    height: 60px;
    width: auto;
    background-color: black;
    position: sticky;
    top: -2px;
    z-index: 100;
    
 

   
}
.logo{
    width: 214px;
    margin: 20px;
    
}
.text{
    color: white;
    color: white;
     font-weight: 500;
    font-size: 16px;
    padding-left: 42px;
     font-family: fantasy;
    padding-bottom: 10px;
}
.link{
    color: white;
    text-decoration: none;
}
.search{
    position: absolute;
    width: 26px;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 17px;
   
}
.body{
    width: auto;
    height: 557px;
    /* background-color: blue;*/
   /* position: relative;*/
   
}
.innertext{
    width: auto;
    height: 150px;
  
    position: absolute;
    bottom: 20px;
      left: 110px;
   background-color:transparent;
      margin-bottom:110px;

}
.fitme{
    margin-top: 10PX;
    float: left;
    clear: both;
    text-transform: uppercase;
    letter-spacing: normal;
    color: white;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px #000;
    border-bottom: 3px solid transparent;
    font-size: 52PX;
}
.shades{
    margin-top: 10PX;
    float: left;
    clear: both;
    text-transform: uppercase;
    letter-spacing: normal;
    color: white;
    margin-left: 45px;
    text-shadow: 2px 2px 4px #000;
    border-bottom: 3px solid transparent;
    font-size: 35PX;
}
.line{
    border-top: 2px solid black;
    margin-left: 95px;
    margin-right: 95px;
}
.body2{

    width: auto;
    height: 576px;
 
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 10px;
   /* position: relative;*/
  
}
.makeup{
    font-family: "Helvetica Neue LT W01_75 Bold";
    font-size: 70px;
    width: 400px;
    line-height: .86;
    letter-spacing: -1.87px;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 42px;
    margin-left: 100px;
    font-weight: 600;
    
}
.virtual{
    margin: 0;
    font-family: "Neue Helvetica W01";
    font-size: 16px;
    font-weight: bold;
    margin-left: 100px;
}
.vl{
    border-top: 1px solid red;

}
.bodyimg2{
    margin-left: 400px;
   width: 10cm;
}
.bodyimg3{
    margin-left: 8px;
    width: 10cm;
}

.pic{
    margin-left: 30px;
    margin-right: 30px;
}
.innerboxes{
    width: auto;
    height:200px ;
    /*background-color: blueviolet;*/
 
}
.innerbox1{
    width: 377px;
    height: 200px;
    background-color: #000;
   margin-left: 412px;
   float: left;
 

}
.innerb1t{
    color: white;
    margin-left: 20px;
    padding-top: 16px;
    font-family: fantasy;
    font-size: 32px;
   
    line-height: 1;
    letter-spacing: .2px;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 21px;
}
.innerb1t2{
    color: #fff;
    padding: 11px;
    padding-left: 25px;
}
.innerb1t3{
    color: white;
    padding: 11px;
    padding-left: 10px;
    font-family: fantasy;
    letter-spacing: 1.2px;
    padding-left: 25px;
}

.link{
    text-decoration: none;
}
.innerbox2{
    background-color: #000;
    width: 378px;
    
    height: 200px;
    float: left;
    margin-left: 10px;
}
.innerb2t{

    font-family: fantasy;
    font-size: 32px;
    padding-left: 21px;
    margin-top: 10px;
}
.innerb2t2{
    margin: 10px;
    padding-left: 10px;
}
.innerb2t3{
    color: white;
    padding: 11px;
    padding-left: 10px;
    font-family: fantasy;
    letter-spacing: 1.2px;
    padding-left: 25px;

}
.body3{
    width: auto;
    height: 600px;
    margin-top: 15px;
}

.options1{
    width:215px;
  /* background-color: blue;*/
    height: 371px;
    margin-left: 400px;
    float: left;
 
}
.mas{
    width:59px;
     height:246px;
     align-items: left;
     margin-top: 24px;
    margin-left: 70px;
    background-color: transparent;
}
.image{
   /*background-color: olive;*/
    float: left;
    width:52px;
     height:300px;

}
.try{
    width: 97px;
    margin-left: 65px;
}
.options2{
    width:215px;
   /* background-color: blue;*/
     height: 371px;
     margin-left: 18px;
     float: left;
     

}
.options3{
    width:215px;
   /* background-color: blue;*/
     height: 371px;
     margin-left: 18px;
     float: left;


}
.options4{
    width:215px;
   /* background-color: blue;*/
     height: 371px;
     margin-left: 18px;
     float: left;

}
a:hover{
    
     border-bottom: 1px solid white;

}
.text{
    color: black;
    margin-top: 222px;
    margin-left: -41px;
}
.imagebody3{
    width:312px;
    height: 474px;
    background-color: black;

}
.asd{
   /*background-color: black;*/
    height: 472px;
    width: 315px;
    margin-left: 108px;
    float: left;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     text-decoration: none;
     color: black;
     margin-top: 25px;
     
   
   
}

.body4{
   width: auto;
    
     margin-top: 10px;
    display: flex;
    padding-left: 87px;
   
    
    
   
}
.header1{
    width: 100%;
    height: 200px;
    
    margin-top: 15px;
    
    float: left;
    position: relative;
   
}

.see{
    
    width:fit-content;
    height: fit-content;
    float: left;
   
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 93%;
    

 
   
}

.images{
    margin-left: 20px;
    
}
.innerbox{
    
   
    position: absolute;
    bottom: 8%;
    left: 135PX;
   
}
   .image1 {
    position: relative;
   }
.TEXT1{
    color: #000;
   font-weight: normal;
   font-size: 25PX;
   font-family: fantasy;
    
   
    
}
.TEXT2{
    letter-spacing: -0.8PX;
}
.TEXT3{
    font-weight: bold;
}
.image2{
    position: relative;
   
}
a{
    text-decoration: none;
    color: black
}
.last{
    width: auto;
   
    padding-top: 15px;
    padding-left:75px;
    display: flex;
}
.header4{
    padding-top: 10px;
    
}
.imagelast{
    position: relative;
    height: 473px;
}
.textlast{
    
    position: absolute;
      bottom: 34px;
     
}
.last{
    color: white;
    font-family:fantasy;
    font-size: 30px;
      font-weight: normal;
    max-height: fit-content;
    
}
.footernote{
    background-color: #000;
    width: auto;
    height: 370px;
    padding-top: 10px;
    padding-left: 115px;
    

}
.list{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
    font-weight: bolder;
}
.sublist{
    color: gray;
}
.div1{
    margin-top: 35px;
    width: 200px;
    height:146px ;
   
    float: left;
}
.div2{
    margin-top: 35px;
    width: 200px;
    height:146px ;
     margin-left: 50px;
    float: left;
}
.div3{
    margin-top: 35px;
    width: 200px;
    height:146px ;
   
    float: left;
}
.div4{
    margin-top: 35px;
    width: 200px;
    height:146px ;
    float: left;
}
.div5{
    margin-top: 35px;
    width: 200px;
    height:146px ;
    
    float: left;
}
.div5{
    margin-top: 35px;
    width: 200px;
    height:146px ;
    
    float: left;
}
.ul{
    list-style-type: none;
}
